.grid-body {
  display: grid;
  margin: 0 10% 3rem;
  gap: 1rem;
  grid-template-columns: repeat( auto-fit, minmax(3rem, 16rem) );
  align-items: center;
  justify-content:center;
}

.map-section {
  display: flex;
  justify-content: center;
  background-color:  #e9e8ff;
}

.map-bookings {
  width: 60%;
  padding: 2rem;
}









.wrapper-card {
  position: relative;
}
.delete-button {
  position: absolute;
  bottom: -5px;
  left: 150px;
}
