// Specific CSS for your home-page

$font-family: "Roboto", sans-serif;
$primary-color: #b9b9b9;
$white: #FFF;

main {
  font-family: $font-family;

}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  background-image: url("jan-jakub-nanista-z9hvkSDWMIM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  color: $white;
}

#banner-img {
  font-size: 3.5rem;
  padding: 12rem 0 0;
  margin: 0;
  text-shadow: red 2px 2px;
}

.card {
    &:hover {
      box-shadow:none !important;
  }
}

.grid-body {
  display: grid;
  margin: 0 10%;
  gap: 3rem;
  grid-template-columns: repeat( auto-fit, minmax(3rem, 19rem) );
  align-items: center;
  justify-content:center;
}

.searchfield {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-form {
  padding: 1rem 0 12rem 0;
}
