// Specific CSS for your home-page

$font-family: "Roboto", sans-serif;
$primary-color: #b9b9b9;
$white: #FFF;

body {
  font-family: $font-family !important;
}

#banner {
  height: 45vh ;
  background-color: $primary-color;
  background-image: url("jan-jakub-nanista-z9hvkSDWMIM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  color: $white;
}

.card {
    &:hover {
      box-shadow:none !important;

  }
}

.grid-container {

}

.grid-body {
  display: grid;
  margin: 0 10%;
  gap: 3rem;
  grid-template-columns: repeat( auto-fit, minmax(3rem, 19rem) );
  align-items: center;
  justify-content:center;
}
