.container-show {
  display: flex;
}
.pictures {
  width: 33vw !important;
}

.cards {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 10px;
  border-radius: 10px;

}

.pictures img {
  border-radius: 5px;
  box-shadow: 10px red;
}

.carousel-inner {
  box-shadow: 5px 5px 5px rgba(180, 63, 63, 0.498);
}

.details {
  border: 1px solid grey;
  border-radius: 4px;
  width: 33vw !important;
  padding: 25px;
  margin-top: 50px;
  margin-left: 25px;
}

.booking {
  margin-left: 30px;
  margin-right: 5px;
}

.map {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid grey;
}

.h1-details {
  border-bottom: solid 3px black;
}

.details-location,
.details-address,
.details-price {
  color: red;
}
