

<footer>
  <div class="footercontainer">
    <div class="socialIcons">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-twitter"></i></a>
      <a href=""><i class="fa-brands fa-youtube"></i></a>
    </div>
      <div class="footerNav">
        <ul>
          <li><%= link_to "Home", offers_path %></li>
          <li><a href="">News</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Our Team </a></li>
        </ul>
      </div>
      <div class="footerBottom">
      <p>Copyright &copy;2024; Designed by Dracula</p>
      </div>
  </div>
</footer>
</div>
