<!-- Image and text -->
<nav class="navbar navbar-light bg-white fixed-top">
  <a class="navbar-brand align-middle" href="#">
    <img src=<%= asset_path("ScaredBnb.jpeg") %> width="180" class="d-inline-block align-middle ms-3" alt="Logo">
  </a>
</nav>
