// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("navbar_background.jpg");
  background-size: cover;
}

.navigation ul{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  color: aliceblue;
  list-style: none;
  margin: 1.5rem 0.5rem;
}

.logo {
  padding: 0;
  margin: 0;
}

#logo {
  height: 3rem;
  margin: 0 0 0 2rem;

  border-radius: 2rem;
}

.main-link {
  text-decoration: none;
  color: #f16760;
  background-color: white;
  padding: 6px 12px;
  border-radius: 20px;
  margin: 0;
}
